home24-mediaplayer-SUB-Flow.json
[{"id":"bcbff7bc.67b478","type":"subflow","name":"Home24 Mediaplayer","info":"![Logo](https://lh3.googleusercontent.com/RPzIxiY8DEC6DKp7RlkT-cB1MoDjuZsTGKMzXzWD8YeBk9fT7hFxMuV83ymCvCaet3Q=s80-rw)\n# **NodeRed Home24 Mediaplayer**\nV.0.0.2\n\n---\n# LED\n - led=red / led=red&flash\n - led=green / led=green&flash\n - led=yellow / led=yellow&flash\n - led=blue / led=blue&flash\n - led=white / led=white&flash\n - led=magenta / led=magenta&flash\n - led=cancel\n\n---\n# Vibrate\n - vibrate\n\n---\n# Statusbar\n - statusbar=Hello Android\n - statusbar=cancel\n\n---\n# Text\n - textsmall=Hallo, weiterer Text\n - textmedium=Hallo, weiterer Text\n - textlarge=Hallo, weiterer Text\n - text=close\n\n---\n# Infobox\n - infobox=Hello Android\n\n---\n# TTS\n - tts=Hallo HomeMatic\n \n(bei einigen Geräten ist keine Sprache für TTS vorinstalliert. Kontrollieren oder nachinstallieren können Sie diese unter \"Einstellungen\" -> \"Sprache und Eingabe \"-> \"Text in Sprache\" )\n\n---\n# Volume\n - volume=10 (1-15)\n\n---\n# Call\n - call=0421123456\n - dial=0421123456\n - sms=0150123456&message=Hallo (GSM Modul im Geräte vorausgesetzt und nur bis Version 1.25 da Google die Funktion nicht mehr erlaubt)\n\n---\n# App\n - Starte Standard-Apps ab Android 4.0.3\n - appbrowser\n - appcalendar\n - appappcontacts\n - appgallery\n - appmail\n - appmaps\n - appmessaging\n - appmusic\n\n---\n# Screen\n - screenon (continual)\n - screenoff\n - screentimeout=10 in sec\n\n---\n# Color Screen\n - colorscreen=red\n - colorscreen=green\n - colorscreen=yellow\n - colorscreen=blue\n - colorscreen=white\n - colorscreen=magenta\n - colorscreen=black\n - colorscreen=ltgray\n - colorscreen=gray\n - colorscreen=dkgray\n - colorscreen=cyan\n - colorscreen=close\n\n---\n# Tasker\n - tasker=\"Name des Task\"\n\n---\n# Track\n - track=\"beispiel.mp3\"","category":"Messenger","in":[{"x":80,"y":480,"wires":[{"id":"c99ceff6.ef7a1"}]}],"out":[],"env":[{"name":"IP","type":"str","value":"192.168.168.0","ui":{"icon":"font-awesome/fa-globe","label":{"en-US":"IP Adresse"},"type":"input","opts":{"types":["str"]}}},{"name":"PORT","type":"num","value":"50000","ui":{"icon":"font-awesome/fa-anchor","label":{"en-US":"Port"},"type":"spinner","opts":{}}},{"name":"FUNCTIONX","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-check-circle-o","label":{"en-US":"Befehle"},"type":"checkbox","opts":{}}},{"name":"FUNCTION","type":"str","value":"","ui":{"icon":"font-awesome/fa-briefcase","label":{"en-US":"Befehl"},"type":"select","opts":{"opts":[{"l":{"en-US":"LED"},"v":"led"},{"l":{"en-US":"Vibrate"},"v":"vibrate"},{"l":{"en-US":"Statusbar"},"v":"statusbar"},{"l":{"en-US":"Textsmall"},"v":"textsmall"},{"l":{"en-US":"Textmedium"},"v":"textmedium"},{"l":{"en-US":"Textlarge"},"v":"textlarge"},{"l":{"en-US":"Text"},"v":"text"},{"l":{"en-US":"Infobox"},"v":"infobox"},{"l":{"en-US":"TTS"},"v":"tts"},{"l":{"en-US":"Volume"},"v":"volume"},{"l":{"en-US":"Call"},"v":"call"},{"l":{"en-US":"Dial"},"v":"dial"},{"l":{"en-US":"SMS  (bis Version 1.25)"},"v":"sms"},{"l":{"en-US":"Screen on"},"v":"screenon"},{"l":{"en-US":"Screen off"},"v":"screenoff"},{"l":{"en-US":"Screen timeout"},"v":"screentimeout"},{"l":{"en-US":"Color Screen"},"v":"colorscreen"},{"l":{"en-US":"Tasker (Tasker APP)"},"v":"tasker"},{"l":{"en-US":"Track"},"v":"track"}]}}},{"name":"APPX","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-check-circle-o","label":{"en-US":"Standard-App"},"type":"checkbox","opts":{}}},{"name":"APP","type":"str","value":"true","ui":{"icon":"font-awesome/fa-coffee","label":{"en-US":"Starte Standard-App"},"type":"select","opts":{"opts":[{"l":{"en-US":"Browser"},"v":"appbrowser"},{"l":{"en-US":"Calendar"},"v":"appcalendar"},{"l":{"en-US":"Contacts"},"v":"appappcontacts"},{"l":{"en-US":"Gallery"},"v":"appgallery"},{"l":{"en-US":"Mail"},"v":"appmail"},{"l":{"en-US":"Maps"},"v":"appmaps"},{"l":{"en-US":"Messaging"},"v":"appmessaging"},{"l":{"en-US":"Music"},"v":"appmusic"}]}}},{"name":"DEBUG","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bug","label":{"en-US":"Debug"},"type":"checkbox","opts":{}}}],"color":"#999999","inputLabels":["msg.payload"],"icon":"font-awesome/fa-bell","status":{"x":1400,"y":520,"wires":[{"id":"dee760c8.38a74","port":0},{"id":"b1b2894d.e06968","port":0},{"id":"cd698544.ab4cf8","port":0},{"id":"36db17a5.da6e88","port":0},{"id":"5c93b366.e354ec","port":0}]}},{"id":"97c5ece8.9aebf","type":"comment","z":"bcbff7bc.67b478","name":"Home24 Mediaplayer","info":" - led=red / led=red&flash\n - led=green / led=green&flash\n - led=yellow / led=yellow&flash\n - led=blue / led=blue&flash\n - led=white / led=white&flash\n - led=magenta / led=magenta&flash\n - led=cancel\n - \n - vibrate\n - \n - statusbar=Hello Android\n - statusbar=cancel\n - \n - textsmall=Hallo, weiterer Text\n - textmedium=Hallo, weiterer Text\n - textlarge=Hallo, weiterer Text\n - text=close\n - \n - infobox=Hello Android\n - \n - tts=Hallo HomeMatic (bei einigen Geräten ist keine Sprache für TTS vorinstalliert. Kontrollieren oder nachinstallieren können Sie diese unter \"Einstellungen\" -> \"Sprache und Eingabe \"-> \"Text in Sprache\" )\n - \n - volume=10 (1-15)\n - \n - call=0421123456\n - dial=0421123456\n - sms=0150123456&message=Hallo (GSM Modul im Geräte vorausgesetzt und nur bis Version 1.25 da Google die Funktion nicht mehr erlaubt)\n - \n - Starte Standard-Apps ab Android 4.0.3\n - appbrowser\n - appcalendar\n - appappcontacts\n - appgallery\n - appmail\n - appmaps\n - appmessaging\n - appmusic\n - \n - screenon (continual)\n - screenoff\n - screentimeout=10 in sec\n - \n - colorscreen=red\n - colorscreen=green\n - colorscreen=yellow\n - colorscreen=blue\n - colorscreen=white\n - colorscreen=magenta\n - colorscreen=black\n - colorscreen=ltgray\n - colorscreen=gray\n - colorscreen=dkgray\n - colorscreen=cyan\n - colorscreen=close\n - \n - tasker=\"Name der Task\"","x":240,"y":80,"wires":[]},{"id":"43855ed.9110ea","type":"http request","z":"bcbff7bc.67b478","name":"http://{{IP}}:{{PORT}}/{{FUNCTION}}={{payload}}","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/{{FUNCTION}}={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":320,"wires":[["5099d10.c22bc3","300834fc.2a3bbc"]]},{"id":"c79b42da.84108","type":"change","z":"bcbff7bc.67b478","name":"FUNCTION","rules":[{"t":"set","p":"FUNCTION","pt":"msg","to":"FUNCTION","tot":"env"},{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["43855ed.9110ea","b1b2894d.e06968","947cac93.705f"]]},{"id":"f7d95a68.fc8018","type":"change","z":"bcbff7bc.67b478","name":"APP","rules":[{"t":"set","p":"APP","pt":"msg","to":"APP","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["7370152d.28fd3c","cd698544.ab4cf8"]]},{"id":"a48e3929.f3e4c8","type":"switch","z":"bcbff7bc.67b478","name":"APPX","property":"APPX","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":400,"wires":[["f7d95a68.fc8018"]]},{"id":"41b06826.8c9558","type":"switch","z":"bcbff7bc.67b478","name":"FUNCTIONX","property":"FUNCTIONX","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"true"},{"t":"eq","v":"false","vt":"str"},{"t":"false"}],"checkall":"false","repair":false,"outputs":4,"x":350,"y":340,"wires":[["c79b42da.84108"],["c79b42da.84108"],["a48e3929.f3e4c8"],["a48e3929.f3e4c8"]]},{"id":"7370152d.28fd3c","type":"http request","z":"bcbff7bc.67b478","name":"http://{{IP}}:{{PORT}}/{{APP}}={{payload}}","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/{{APP}}={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":400,"wires":[["5099d10.c22bc3","300834fc.2a3bbc"]]},{"id":"c99ceff6.ef7a1","type":"switch","z":"bcbff7bc.67b478","name":"IP?","property":"IP","propertyType":"env","rules":[{"t":"neq","v":"192.168.168.0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":480,"wires":[["41b06826.8c9558"],["dee760c8.38a74"]]},{"id":"dee760c8.38a74","type":"function","z":"bcbff7bc.67b478","name":"error!","func":"msg.payload = {fill:\"red\",shape:\"ring\",text:\"IP Adresse oder Port prüfen!\"};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[[]]},{"id":"b1b2894d.e06968","type":"function","z":"bcbff7bc.67b478","name":"msg.IP + \":\" + msg.PORT + \"/\" + msg.FUNCTION + \"=\" + msg.payload","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:msg.IP + \":\" + msg.PORT + \"/\" + msg.FUNCTION + \"=\" + msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[[]]},{"id":"cd698544.ab4cf8","type":"function","z":"bcbff7bc.67b478","name":"msg.IP + \":\" + msg.PORT + \"/\" + msg.APP + \"=\" + msg.payload","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:msg.IP + \":\" + msg.PORT + \"/\" + msg.APP + \"=\" + msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":440,"wires":[[]]},{"id":"b928418c.2dbf7","type":"comment","z":"bcbff7bc.67b478","name":"![Logo](https://lh3.googleusercontent.com/RPzIxiY8DEC6DKp7RlkT-cB1MoDjuZsTGKMzXzWD8YeBk9fT7hFxMuV83ymCvCaet3Q=s80-rw)","info":"# Nodered Subflow\nzur Web Ansteuerung der Android App \"Home24 Mediaplayer\"\n\nhttps://play.google.com/store/apps/details?id=com.home24.mediaplayer&feature=search_result","x":480,"y":20,"wires":[]},{"id":"64d6ee21.c94ad","type":"debug","z":"bcbff7bc.67b478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":260,"wires":[]},{"id":"947cac93.705f","type":"switch","z":"bcbff7bc.67b478","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":960,"y":260,"wires":[["825622e6.75da2","64d6ee21.c94ad"],["64d6ee21.c94ad"]]},{"id":"825622e6.75da2","type":"function","z":"bcbff7bc.67b478","d":true,"name":"Debug","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":260,"wires":[["64d6ee21.c94ad"]]},{"id":"bc642e.2d066bd","type":"catch","z":"bcbff7bc.67b478","name":"","scope":["43855ed.9110ea","7370152d.28fd3c"],"uncaught":false,"x":160,"y":520,"wires":[["dee760c8.38a74"]]},{"id":"5099d10.c22bc3","type":"switch","z":"bcbff7bc.67b478","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":1440,"y":360,"wires":[["ed528dd1.e199c"],["ed528dd1.e199c"]]},{"id":"ed528dd1.e199c","type":"debug","z":"bcbff7bc.67b478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1590,"y":360,"wires":[]},{"id":"36db17a5.da6e88","type":"function","z":"bcbff7bc.67b478","name":"Funktion erfolgreich ausgeführt","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:\"Funktion erfolgreich ausgeführt\"};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":480,"wires":[["162e7357.e5c52d"]]},{"id":"5c93b366.e354ec","type":"function","z":"bcbff7bc.67b478","name":"bereit","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:\"bereit\"};\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":520,"wires":[[]]},{"id":"162e7357.e5c52d","type":"delay","z":"bcbff7bc.67b478","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":520,"wires":[["5c93b366.e354ec"]]},{"id":"65218c4.af76074","type":"inject","z":"bcbff7bc.67b478","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1130,"y":560,"wires":[["5c93b366.e354ec"]]},{"id":"300834fc.2a3bbc","type":"switch","z":"bcbff7bc.67b478","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Request from Home24-MediaPlayer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":440,"wires":[["36db17a5.da6e88"]]},{"id":"9464dd39.deebe","type":"subflow:bcbff7bc.67b478","z":"614bbd62.be6174","name":"","env":[{"name":"FUNCTION","value":"tts","type":"str"},{"name":"APP","value":null,"type":"str"}],"x":400,"y":100,"wires":[]},{"id":"896684c0.794038","type":"inject","z":"614bbd62.be6174","name":"","topic":"","payload":"Das ist ein Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["9464dd39.deebe"]]},{"id":"3ee36a48.8396c6","type":"comment","z":"614bbd62.be6174","name":"Beispiel Flow","info":"","x":160,"y":60,"wires":[]}]
