Matten-Matten/home24-mediaplayer-SUB-Flow.json
[{"id":"74e3ef2e.11a32","type":"subflow","name":"Home24 Mediaplayer","info":"![Logo](https://lh3.googleusercontent.com/RPzIxiY8DEC6DKp7RlkT-cB1MoDjuZsTGKMzXzWD8YeBk9fT7hFxMuV83ymCvCaet3Q=s80-rw)\n# **NodeRed Home24 Mediaplayer**\nV.1.1\n\n---\n# LED\n - led=red / led=red&flash\n - led=green / led=green&flash\n - led=yellow / led=yellow&flash\n - led=blue / led=blue&flash\n - led=white / led=white&flash\n - led=magenta / led=magenta&flash\n - led=cancel\n\n---\n# Vibrate\n - vibrate\n\n---\n# Statusbar\n - statusbar=Hello Android\n - statusbar=cancel\n\n---\n# Text\n - textsmall=Hallo, weiterer Text\n - textmedium=Hallo, weiterer Text\n - textlarge=Hallo, weiterer Text\n - text=close\n\n---\n# Infobox\n - infobox=Hello Android\n\n---\n# TTS\n - tts=Hallo HomeMatic\n \n(bei einigen Geräten ist keine Sprache für TTS vorinstalliert. Kontrollieren oder nachinstallieren können Sie diese unter \"Einstellungen\" -> \"Sprache und Eingabe \"-> \"Text in Sprache\" )\n\n---\n# Volume\n - volume=10 (1-15)\n\n---\n# Call\n - call=0421123456\n - dial=0421123456\n - sms=0150123456&message=Hallo (GSM Modul im Geräte vorausgesetzt und nur bis Version 1.25 da Google die Funktion nicht mehr erlaubt)\n\n---\n# App\n - Starte Standard-Apps ab Android 4.0.3\n - appbrowser\n - appcalendar\n - appappcontacts\n - appgallery\n - appmail\n - appmaps\n - appmessaging\n - appmusic\n\n---\n# Screen\n - screenon (continual)\n - screenoff\n - screentimeout=10 in sec\n\n---\n# Color Screen\n - colorscreen=red\n - colorscreen=green\n - colorscreen=yellow\n - colorscreen=blue\n - colorscreen=white\n - colorscreen=magenta\n - colorscreen=black\n - colorscreen=ltgray\n - colorscreen=gray\n - colorscreen=dkgray\n - colorscreen=cyan\n - colorscreen=close\n\n---\n# Tasker\n - tasker=\"Name des Task\"\n\n---\n# Track\n - track=\"beispiel.mp3\"","category":"Messenger","in":[{"x":80,"y":480,"wires":[{"id":"3e991704.312d88"}]}],"out":[],"env":[{"name":"IP","type":"str","value":"192.168.168.0","ui":{"icon":"font-awesome/fa-globe","label":{"en-US":"IP Adresse"},"type":"input","opts":{"types":["str"]}}},{"name":"PORT","type":"str","value":"5000","ui":{"icon":"font-awesome/fa-anchor","label":{"en-US":"Port"},"type":"input","opts":{"types":["str"]}}},{"name":"FUNCTIONX","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-check-circle-o","label":{"en-US":"Befehle"},"type":"checkbox","opts":{}}},{"name":"FUNCTION","type":"str","value":"","ui":{"icon":"font-awesome/fa-briefcase","label":{"en-US":"Befehl"},"type":"select","opts":{"opts":[{"l":{"en-US":"LED"},"v":"led"},{"l":{"en-US":"Vibrate"},"v":"vibrate"},{"l":{"en-US":"Statusbar"},"v":"statusbar"},{"l":{"en-US":"Textsmall"},"v":"textsmall"},{"l":{"en-US":"Textmedium"},"v":"textmedium"},{"l":{"en-US":"Textlarge"},"v":"textlarge"},{"l":{"en-US":"Text"},"v":"text"},{"l":{"en-US":"Infobox"},"v":"infobox"},{"l":{"en-US":"TTS"},"v":"tts"},{"l":{"en-US":"Volume"},"v":"volume"},{"l":{"en-US":"Call"},"v":"call"},{"l":{"en-US":"Dial"},"v":"dial"},{"l":{"en-US":"SMS  (bis Version 1.25)"},"v":"sms"},{"l":{"en-US":"Screen on"},"v":"screenon"},{"l":{"en-US":"Screen off"},"v":"screenoff"},{"l":{"en-US":"Screen timeout"},"v":"screentimeout"},{"l":{"en-US":"Color Screen"},"v":"colorscreen"},{"l":{"en-US":"Tasker (Tasker APP)"},"v":"tasker"},{"l":{"en-US":"Track"},"v":"track"}]}}},{"name":"APPX","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-check-circle-o","label":{"en-US":"Standard-App"},"type":"checkbox","opts":{}}},{"name":"APP","type":"str","value":"true","ui":{"icon":"font-awesome/fa-coffee","label":{"en-US":"Starte Standard-App"},"type":"select","opts":{"opts":[{"l":{"en-US":"Browser"},"v":"appbrowser"},{"l":{"en-US":"Calendar"},"v":"appcalendar"},{"l":{"en-US":"Contacts"},"v":"appappcontacts"},{"l":{"en-US":"Gallery"},"v":"appgallery"},{"l":{"en-US":"Mail"},"v":"appmail"},{"l":{"en-US":"Maps"},"v":"appmaps"},{"l":{"en-US":"Messaging"},"v":"appmessaging"},{"l":{"en-US":"Music"},"v":"appmusic"}]}}},{"name":"DEBUG","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bug","label":{"en-US":"Debug"},"type":"checkbox","opts":{}}}],"color":"#999999","inputLabels":["msg.payload"],"icon":"font-awesome/fa-bell","status":{"x":1420,"y":500,"wires":[{"id":"5e36caca.8d9df4","port":0},{"id":"f58540f4.0bf72","port":0},{"id":"4ef04da0.b5f314","port":0}]}},{"id":"d7f9ee97.a145f","type":"comment","z":"74e3ef2e.11a32","name":"Home24 Mediaplayer","info":" - led=red / led=red&flash\n - led=green / led=green&flash\n - led=yellow / led=yellow&flash\n - led=blue / led=blue&flash\n - led=white / led=white&flash\n - led=magenta / led=magenta&flash\n - led=cancel\n - \n - vibrate\n - \n - statusbar=Hello Android\n - statusbar=cancel\n - \n - textsmall=Hallo, weiterer Text\n - textmedium=Hallo, weiterer Text\n - textlarge=Hallo, weiterer Text\n - text=close\n - \n - infobox=Hello Android\n - \n - tts=Hallo HomeMatic (bei einigen Geräten ist keine Sprache für TTS vorinstalliert. Kontrollieren oder nachinstallieren können Sie diese unter \"Einstellungen\" -> \"Sprache und Eingabe \"-> \"Text in Sprache\" )\n - \n - volume=10 (1-15)\n - \n - call=0421123456\n - dial=0421123456\n - sms=0150123456&message=Hallo (GSM Modul im Geräte vorausgesetzt und nur bis Version 1.25 da Google die Funktion nicht mehr erlaubt)\n - \n - Starte Standard-Apps ab Android 4.0.3\n - appbrowser\n - appcalendar\n - appappcontacts\n - appgallery\n - appmail\n - appmaps\n - appmessaging\n - appmusic\n - \n - screenon (continual)\n - screenoff\n - screentimeout=10 in sec\n - \n - colorscreen=red\n - colorscreen=green\n - colorscreen=yellow\n - colorscreen=blue\n - colorscreen=white\n - colorscreen=magenta\n - colorscreen=black\n - colorscreen=ltgray\n - colorscreen=gray\n - colorscreen=dkgray\n - colorscreen=cyan\n - colorscreen=close\n - \n - tasker=\"Name der Task\"","x":240,"y":80,"wires":[]},{"id":"f5bad882.1d2d18","type":"http request","z":"74e3ef2e.11a32","name":"http://{{ip}}:50000/{{topic}}={{payload}}","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{ip}}:50000/{{topic}}={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":160,"wires":[[]]},{"id":"1b8f9274.7ddb5e","type":"change","z":"74e3ef2e.11a32","name":"IP-Adresse","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.27.114","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":160,"wires":[["f5bad882.1d2d18"]]},{"id":"c212f258.8d8c7","type":"inject","z":"74e3ef2e.11a32","name":"","topic":"statusbar","payload":"Hello Android","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":160,"wires":[["1b8f9274.7ddb5e"]]},{"id":"4bacdd25.17f704","type":"inject","z":"74e3ef2e.11a32","name":"","topic":"statusbar","payload":"cancel","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":200,"wires":[["1b8f9274.7ddb5e"]]},{"id":"35f0db36.f1c8a4","type":"http request","z":"74e3ef2e.11a32","name":"http://{{IP}}:{{PORT}}/{{FUNCTION}}={{payload}}","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/{{FUNCTION}}={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":320,"wires":[["95ad47ab.2534b8"]]},{"id":"6f47ca86.2a3074","type":"change","z":"74e3ef2e.11a32","name":"FUNCTION","rules":[{"t":"set","p":"FUNCTION","pt":"msg","to":"FUNCTION","tot":"env"},{"t":"set","p":"IP","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"PORT","pt":"msg","to":"PORT","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["35f0db36.f1c8a4","f58540f4.0bf72","aa25cbe0.c8f538"]]},{"id":"e6ee8f27.5f2be","type":"change","z":"74e3ef2e.11a32","name":"APP","rules":[{"t":"set","p":"APP","pt":"msg","to":"APP","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["396f9223.cae56e","4ef04da0.b5f314"]]},{"id":"a92faf02.ab53c","type":"switch","z":"74e3ef2e.11a32","name":"APPX","property":"APPX","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":400,"wires":[["e6ee8f27.5f2be"]]},{"id":"9c4c8579.7ae938","type":"switch","z":"74e3ef2e.11a32","name":"FUNCTIONX","property":"FUNCTIONX","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"true"},{"t":"eq","v":"false","vt":"str"},{"t":"false"}],"checkall":"false","repair":false,"outputs":4,"x":350,"y":340,"wires":[["6f47ca86.2a3074"],["6f47ca86.2a3074"],["a92faf02.ab53c"],["a92faf02.ab53c"]]},{"id":"396f9223.cae56e","type":"http request","z":"74e3ef2e.11a32","name":"http://{{IP}}:{{PORT}}/{{APP}}={{payload}}","method":"GET","ret":"txt","paytoqs":false,"url":"http://{{IP}}:{{PORT}}/{{APP}}={{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":1160,"y":400,"wires":[["95ad47ab.2534b8"]]},{"id":"3e991704.312d88","type":"switch","z":"74e3ef2e.11a32","name":"IP?","property":"IP","propertyType":"env","rules":[{"t":"neq","v":"192.168.168.0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":480,"wires":[["9c4c8579.7ae938"],["5e36caca.8d9df4"]]},{"id":"5e36caca.8d9df4","type":"function","z":"74e3ef2e.11a32","name":"error!","func":"msg.payload = {fill:\"red\",shape:\"ring\",text:\"IP Adresse oder Port prüfen!\"};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[[]]},{"id":"f58540f4.0bf72","type":"function","z":"74e3ef2e.11a32","name":"msg.IP + \":\" + msg.PORT + \"/\" + msg.FUNCTION + \"=\" + msg.payload","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:msg.IP + \":\" + msg.PORT + \"/\" + msg.FUNCTION + \"=\" + msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[[]]},{"id":"4ef04da0.b5f314","type":"function","z":"74e3ef2e.11a32","name":"msg.IP + \":\" + msg.PORT + \"/\" + msg.APP + \"=\" + msg.payload","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:msg.IP + \":\" + msg.PORT + \"/\" + msg.APP + \"=\" + msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":440,"wires":[[]]},{"id":"a00755ac.2c0708","type":"comment","z":"74e3ef2e.11a32","name":"![Logo](https://lh3.googleusercontent.com/RPzIxiY8DEC6DKp7RlkT-cB1MoDjuZsTGKMzXzWD8YeBk9fT7hFxMuV83ymCvCaet3Q=s80-rw)","info":"# Nodered Subflow\nzur Web Ansteuerung der Android App \"Home24 Mediaplayer\"\n\nhttps://play.google.com/store/apps/details?id=com.home24.mediaplayer&feature=search_result","x":480,"y":20,"wires":[]},{"id":"b09fe990.fab918","type":"debug","z":"74e3ef2e.11a32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":260,"wires":[]},{"id":"aa25cbe0.c8f538","type":"switch","z":"74e3ef2e.11a32","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":960,"y":260,"wires":[["ad5358d.2bcc0a8","b09fe990.fab918"],["b09fe990.fab918"]]},{"id":"ad5358d.2bcc0a8","type":"function","z":"74e3ef2e.11a32","d":true,"name":"Debug","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":260,"wires":[["b09fe990.fab918"]]},{"id":"22df8689.4378fa","type":"catch","z":"74e3ef2e.11a32","name":"","scope":["35f0db36.f1c8a4","396f9223.cae56e"],"uncaught":false,"x":180,"y":560,"wires":[["5e36caca.8d9df4"]]},{"id":"95ad47ab.2534b8","type":"switch","z":"74e3ef2e.11a32","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"true"}],"checkall":"false","repair":false,"outputs":2,"x":1440,"y":360,"wires":[["dccc9de9.82136"],["dccc9de9.82136"]]},{"id":"dccc9de9.82136","type":"debug","z":"74e3ef2e.11a32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1590,"y":360,"wires":[]},{"id":"8934ba4.8edb348","type":"subflow:74e3ef2e.11a32","z":"4de1a320.8c1a9c","name":"","env":[{"name":"PORT","value":"50000","type":"str"},{"name":"FUNCTION","value":"tts","type":"str"},{"name":"APP","value":"appmusic","type":"str"}],"x":400,"y":580,"wires":[]},{"id":"232c722a.5f53ae","type":"inject","z":"4de1a320.8c1a9c","name":"","topic":"","payload":"Das ist ein Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":580,"wires":[["8934ba4.8edb348"]]}]
